.fav-btn {
    position: absolute;
    top: 5%;
    right: 5%;
}

.fav-btn svg {
    width: 2rem;
    height: 2rem;
}

@media(max-width:450px) {
    .fav-btn {
        top: 1%;
        right: 15%;
    }

    .details-list-container {
        width: 80%;
    }
}