.navbar {
    height: 100%;
    width: 100%;
    background-color: var(--nav-background-color);
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: var(--border-radius-s);
}

.app-nav {
    position: sticky;
    top: 20%;
    left: 2%;
    width: fit-content;
    gap: 1em;
}

.app-nav a {
    color: var(--link-color);
    background: linear-gradient(to right, var(--hover-link-color), var(--link-color));
    background-size: 200% 200%;
    background-position: right bottom;
    transition: background-position 0.5s ease-out, color 1s 0.5s;
    background-clip: text;
    font-size: 1.5rem;
    line-height: 2;
    width: fit-content;
    height: fit-content;
    border-radius: 12px;
}

.app-nav a:hover {
    background-position: left top;
    color: transparent;
    transition: background-position 0.5s ease-in-out;
}

.app-nav a:focus {
    color: var(--hover-link-color)
}