.theme-btn {
    position: sticky;
    top: 8%;
    right: 84%;
    width: 5em;
    height: fit-content;
    font-size: 2rem;
    color: var(--button-bg-color);
    border-radius: 24px;
    border: 1px solid var(--button-bg-color);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}